.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #18c818 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: auto;
  }

  .center
  {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: auto;
  
  }